.slider-container{
    position: relative;
    margin: 2%;
    width: 96%;
    max-height: 600px;
    .slider{
        width: 100%;
        height: 600px;
        word-wrap: break-word;
    
         &.img-one{
            background: url('../img/hero-bg-01.jpg') no-repeat center;
            
        }
        &.img-two{
            background: url('../img/hero-bg-02.jpg') no-repeat center;
        }
        &.img-three{
            background: url('../img/hero-bg-03.jpg') no-repeat center;
        }

       .img-text{
           font-size: 30px;
            padding: 18% 3%;
            margin: 0;
            text-align: center;
            font-weight: 300;
            h1{
                  color: #fff;
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: 30px;
                    font-weight: 300;
            }
             a{
                  background-color: #7AE2DE;
                  padding: 20px;
                  font-size: 13px;
                  line-height: 1;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 13px;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                  color: #fff;
                  font-weight: 400;
             }
       } 
       .img-sec-text{
           margin-top: 62px;
           text-align: center;
           border-top:solid 1px rgba(255,255,255,0.25);
           color:#fff;
           padding-top: 29px;
           font-weight: 300;
           p{
               font-size: 17px;
               line-height: 30px;
           }
       }
}
    .dots-container{
        margin: 2%;
        text-align: center;
        position: absolute;
        bottom: 1px;
        left: 43%;
        .dots{
            width: 8px;
            height: 8px;
            background: transparent;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid white;
        }
    }
}