h4{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 60px;
    &:after {
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 15px;
        content: '';
        background-color: #7AE2DE;
    }
}