//=============variables for header==========================
$header-back-color:     #414A52;

//==================borders color============================
$border-col-1:          #7AE2DE;

//===================text-color==============================
$txt-color:             #414A52;

//====================team-section============================
$team-backrground:      #F4F6F9;

//====================names-colors============================
$name-color:               #fff;